<!doctype html>

<html lang="en">
    
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Snakepit</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- CSS Styles Sheets -->
    <link rel="stylesheet" href="/global-styles.css">
    <link rel="stylesheet" href="/styles.css">

  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">

        <div class="container-fluid">

            <a href="/" class="brand-link">JobPit</a>
            <hr style="height: 1rem; color:white">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="nav-placeholder-div" style="color: white;">

                </div>
                <ul class="navbar-nav nav-main-items">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/student-jobs" class="nav-link">Student Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Student Talent</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Experienced Workers</a>
                    </li>
                    <% if(isLoggedIn){ %>
                        <form action="/profile" method="GET">
                            <li class="nav-item collapsed-item">
                                <a href="/profile" class="nav-link">My Profile</a>
                            </li>
                        </form>
                    <% } else{ %>
                        <form action="/login">
                            <li class="nav-item collapsed-item">
                                <a href="/login" class="nav-link">Log In</a>
                            </li>
                        </form>
                        <form action="/signup" method="GET">
                            <li class="nav-item collapsed-item">
                                <a href="/signup" class="nav-link">Sign Up</a>
                            </li>
                        </form>
                    <% } %>
                </ul>
                <% if(isLoggedIn){ %>
                    <ul class="navbar-nav justify-content-right nav-forms user-profile-nav">
                        <div class="dropdown">
                            <button type="button" class="btn btn-success dropdown-toggle inner-nav-form user-profile-button" data-bs-toggle="dropdown"><%= username %></button>
                            <ul class="dropdown-menu user-dropdown">
                              <li><a class="dropdown-item" href="/profile">My <%= accType %> <i class="fa-regular fa-user"></i></a></li>
                              <li><a class="dropdown-item" href="/signout">Sign Out <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                            </ul>
                          </div>
                    </ul>            
                <% } else{ %>
                    <ul class="navbar-nav justify-content-right nav-forms">
                        <li class="nav-item">
                            <form action="/login" method="get">
                                <button type="submit" class="btn btn-light inner-nav-form">Log In</button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <form action="/signup" method="get">
                                <button type="submit" class="btn btn-primary">Sign Up</button>
                            </form>
                        </li>
                    </ul>
                <% } %>
            </div>

        </div>
    </nav>

    <section id="employer-jobs-section">
        <% if (deletedJob) { %>
            <div class="outer-container-success d-flex justify-content-center align-items-center">
                <div class="successful-delete-container mx-auto">
                    <p class="successful-delete-message">Job #<%= deletedJobId %> was successfully deleted.</p>
                </div>
            </div>
        <% } %> 
        <div class="floating-jobs">
            <% employerJobs.forEach(function(job) { %>
                <% var i = 0; %>
                <div class="floating-job">
                    <div class="employer-action-buttons container-fluid">
                        <form action="" method="GET">
                            <button name="editbtn" class="btn btn-sm btn-outline-warning edit-btn all-btns">Edit <i class="fa-solid fa-pen"></i></button>
                        </form>
                        <button id="<%= job._id %>-btn" name="delbtn" class="btn btn-sm btn-outline-danger delete-btn all-btns" value="<%= job._id %>">Delete</button>
                        <div id="<%= job._id %>-container" class="successfully-deleted-job-alert-container">
                            <div class="delete-inner-container">
                                <p class="alertMessage px-2"></p>
                                <form style="display: flex;" action="/delete-job/<%= job._id %>" method="POST">
                                    <button type="submit" class="delete-alert-btn">Yes</button>
                                </form>
                                <button class="delete-alert-btn cancel-delete-btn">No</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="job-title-container">
                        <p class="job-title"><b><%= job.jobTitle %></b></p>    
                    </div>
                    <p class="company-name"><i><%= job.company %></i></p>
                    <br><br>
                    <p class="job-section">Job Description</p>
                    <p class="job-description"><%= job.jobDescription %></p>
                    <p class="job-section">Requirements</p>
                    <p class="job-requirements"><%= job.requirements %></p>
                    <p class="job-section">Assets</p>
                    <p class="job-assets"><%= job.assets %></p>
                    <div style="padding-bottom: 0.25rem;" class="view-applicants-btn-container">
                        <form action="/applicants/<%= job._id %>" method="GET">
                            <button class="view-applicants-btn btn btn-md btn-outline-primary all-btns">View Applicants</button>
                        </form>
                    </div>
                </div>
                <% i++; %>
            <% }); %>
        </div>
    </section>


<!-- Bootstrap, jQuery & Font-Awesome Scripts -->
<script src="/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/7b145b1c64.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>


<% employerJobs.forEach(function(job) { %>
    <script>
        var deleteJobIdBtn = $("#<%= job._id %>-btn");
        var currentJobId = deleteJobIdBtn.attr('id');
        currentJobId = currentJobId.split('-')[0];
        deleteJobIdBtn.on('click', () =>
        {
            $(".alertMessage").text("Are you sure you want to delete this posting?");
            $("#<%= job._id %>-container").show(200);
        });
        $('.cancel-delete-btn').on('click', () =>
        {
            $("#<%= job._id %>-container").hide(200);
        });
    </script>
<% }); %>
